#tratamiento {

    .card {
        text-align: center;
        text-align: -webkit-center;
        list-style: none;

        .card-header {
            background-color: transparent;
            border-bottom: unset;
        }
    }
    .icon-awesome {
        font-size: 4rem;
        
    }
}

#carouselPasos {
    // height: max-content;
    // max-height: 100vh;
    overflow: hidden;

    .carousel-inner{
        text-align: center;
        text-align: -webkit-center;
    }
}

